
#
# AOSP Port settings
#
# CONFIG_WLAN_GRACE is not set
# CONFIG_CAMERA_HERO is not set
CONFIG_CAMERA_GRACE=y
CONFIG_GRACE_PERIOD=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_SUNRPC=y
CONFIG_SUNRPC_GSS=y
# CONFIG_SUNRPC_DEBUG is not set
# CONFIG_F2FS_FS_POSIX_ACL is not set
CONFIG_BCMDHD_FW_PATH="/vendor/etc/wifi/bcmdhd_sta.bin"
CONFIG_BCMDHD_NVRAM_PATH="/vendor/etc/wifi/nvram_net.txt"
CONFIG_DDK_VERSION_OS="q"
# CONFIG_MALI_R22P0 is not set
# CONFIG_MALI_R28P0 is not set
CONFIG_MALI_R29P0=y
# CONFIG_PM_WAKELOCKS_SENSOR_IND_HACK is not set
CONFIG_USB_ANDROID_SAMSUNG_MTP is not set
CONFIG_NETFILTER_XT_TARGET_CT=y
CONFIG_ALWAYS_PERMISSIVE=y
