
#
# OREO settings
#
# CONFIG_WLAN_GRACE is not set
CONFIG_CAMERA_HERO=y
# CONFIG_CAMERA_GRACE is not set
##CONFIG_DDK_VERSION_OS="o"
##CONFIG_MALI_R22P0=y
## CONFIG_MALI_R28P0 is not set

CONFIG_DDK_VERSION_OS="q"
# CONFIG_MALI_R22P0 is not set
# CONFIG_MALI_R28P0 is not set
CONFIG_MALI_R29P0=y

CONFIG_ALWAYS_PERMISSIVE=y
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
CONFIG_NETFILTER_XT_TARGET_CT=y

# CONFIG_HALL_EVENT_REVERSE is not set
