
#
# OneUI Q Port settings
#
CONFIG_WLAN_GRACE=y
# CONFIG_CAMERA_HERO is not set
CONFIG_CAMERA_GRACE=y
CONFIG_GRACE_PERIOD=y
# CONFIG_SECURITY_SELINUX_FAKE_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_NEVER_ENFORCE is not set
CONFIG_ASSISTED_SUPERUSER=y

