
#
# OneUI Q Port settings
#
CONFIG_WLAN_GRACE=y
# CONFIG_CAMERA_HERO is not set
CONFIG_CAMERA_GRACE=y
CONFIG_GRACE_PERIOD=y
# CONFIG_SECURITY_SELINUX_FAKE_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_NEVER_ENFORCE is not set
CONFIG_ASSISTED_SUPERUSER=y
CONFIG_DDK_VERSION_OS="q"
# CONFIG_MALI_R22P0 is not set
# CONFIG_MALI_R28P0 is not set
CONFIG_MALI_R29P0=y

#
# Mod by Anan for magisk work (ASSISTED_SUPERUSER must be disabled)
#
# CONFIG_ALWAYS_PERMISSIVE is not set
## CONFIG_ASSISTED_SUPERUSER is not set
